@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Teko:wght@700&display=swap');

.dark-drop-shadow {
    -webkit-box-shadow: 4px 5px 4px -2px rgba(0,0,0,0.6);
    box-shadow: 4px 5px 4px -2px rgba(0,0,0,0.6);
}

.light-drop-shadow {
    -webkit-box-shadow: 0 3px 10px 1px #000000;
    box-shadow: 0 3px 10px 1px #000000;
}

.primary-drop-shadow {
    -webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,0.55);
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.55);
}

.text-color-primary {
    color: white;
}

.text-color-secondary {
    color: rgba(255,255,255,0.87);
}

.text-color-info {
    color: rgba(255,255,255,0.6);
}

.custom-container {
    width: 90%;
    margin: 40px auto 40px auto;
    padding: 20px;
    position: relative;
}

.main-container {
    min-height: 50rem;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255, 0.3);
}

.title {
    font-family: 'Teko', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Teko', sans-serif;
}


html, body {
    position: relative;
    background-color: #222831;
}

#modalOpacity {
    opacity: 0.93;
}

/* custom scrollbar - Does not work on firefox :( */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}