.matchResult {
    display: flex;
    flex: 2;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
    max-height: 35rem;
}

.player {
    flex: 1;
    display: flex;
    font-size: large;
    color: #eeeeee;
    margin: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.player1 {
    composes: player;
}

.player2 {
    composes: player;
}

.statusIcon {
    display: flex;
    align-self: center;
    margin-left: 8px;
    margin-right: 8px;
    font-size: large;
    color: #fff900;
}

.active {
    composes: matchResult;
    background-color: #739bd1;
}

.neutral {
    composes: matchResult;
    background-color: #393e46;
}

.vs {
    display: flex;
    font-size: x-large;
    align-self: center;
    color: #ffc36f;
}
