.red {
    background-color: #ff6156;
    color: #ff6156;
}
.red:focus {
    -webkit-box-shadow: 0 1px 3px 1px #ff6156;
    box-shadow: 0 1px 3px 1px #ff6156;
}

.blue {
    background-color: #2d53fc;
}

.blue:focus {
    -webkit-box-shadow: 0 1px 3px 1px #2d53fc;
    box-shadow: 0 1px 3px 1px #2d53fc;
}

.green {
    background-color: #33d160;
}
.green:focus {
    -webkit-box-shadow: 0 1px 3px 1px #33d160;
    box-shadow: 0 1px 3px 1px #33d160;
}

.orange {
    background-color: #ff9655;
}

.orange:focus {
    -webkit-box-shadow: 0 1px 3px 1px #ff9655;
    box-shadow: 0 1px 3px 1px #ff9655;
}

.purple {
    background-color: #6921ff;
    color: #6921ff;
}

.purple:focus {
    -webkit-box-shadow: 0 1px 3px 1px #6921ff;
    box-shadow: 0 1px 3px 1px #6921ff;
}

.grey {
    color: grey;
    background-color: grey;
}

.grey:focus {
    -webkit-box-shadow: 0 1px 3px 1px grey;
    box-shadow: 0 1px 3px 1px grey;
}

.w100 {
    width: 100%;
}
.w75 {
    width: 75%;
}

.w50 {
    width: 50%;
}

.w25 {
    width: 25%;
}

.button {
    position: relative;
    display: flex;
    flex: 6;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    font-size: large;
    font-weight: bold;
    color: whitesmoke;
    border: 0;
    border-radius: 5px;
}

.mask {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 100%);
    position: absolute;
    bottom: 0;
    left: -100%;
    z-index: 10;
}

@keyframes slideUp {
    0%   { left: -100%; }
    60% { left: 0; bottom: 0 }
    75% { left: 0; bottom: 0 }
    100% { left: 0; bottom: -100%; }
}

.animateButton {
    animation-name: slideUp;
    animation-fill-mode: forwards;
    animation-duration: 700ms;
    animation-timing-function: ease-in;
}

.buttonText {
    flex: 5;
    font-size: large;
    position: relative;
    padding: 5px 7px 5px 7px;
}

.buttonIcon {
    position: relative;
    font-size: large;
    background: linear-gradient(90deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 100%);
    flex: 1;
    padding: 5px 7px 5px 7px;
}

.buttonWrapper {
    position: relative;
}
