.match {
    border-radius: 5px;
    min-width: 250px;

    font-size: large;
}

.contentTitle {
    margin-left: 10px;
    text-align: left;
}

.tictac {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}