.matchList {
    border-radius: 5px;
    min-width: 250px;
    min-height: 20rem;
    max-height: 50rem;
    font-size: large;
    overflow-y: scroll;
    margin: 15px;
}

.matches {
    min-height: 15rem;
    overflow-y: auto;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 10px;
}

.match {
    font-weight: 600;
    margin: 3px 0 3px 0;
    padding: 4px;
    display: flex;
    position: relative;
    border-radius: 5px;

}

.contentTitle {
    margin-left: 10px;
    text-align: left;
}