.inviteSent {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #eeeeee;
    font-size: small;
}

.username {
    display: inline-flex;
}

.text {
    width: 100%;
    position: relative;
}