.modalTitle {
    font-size: xx-large;
    width: 100%;
    text-align: center;
    padding: 5px;
    color: #222831;
}

.draw {
    composes: modalTitle;
}
.victory {
    position: relative;
    composes: modalTitle;
}

.iconPosition {
    position: absolute;
    left: 25%;
    top: 0;
    font-size: xx-large;
    margin-top: 10px;
}

.defeat {
    composes: modalTitle;
}
.defeatSadFace {
    composes: iconPosition;
    color: #d1342e;
    margin-top: 18px;
}

.victoryMedal {
    composes: iconPosition;
    color: gold;
}

.footerPadding {
    padding: 10px;
}
