.pLayout {
    position: relative;
    width: 100%;
    display: flex;
    flex: 2;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.player {
    flex: 1;
    display: flex;
    font-size: xx-large;
    color: #222831;
    margin: 10px;
    flex-direction: column;
    flex-wrap: nowrap;
}

.opponent {
    composes: player;
    align-items: flex-start;
}

.user {
    composes: player;
    align-items: flex-end;
}

.vs {
    display: flex;
    font-size: xxx-large;
    justify-content: center;
}

.assignedSymbol {
    display: flex;
    color: #eeeeee;
}

.opponentSymbol {
    composes: assignedSymbol;
    margin-left: 20px;
}

.userSymbol {
    composes: assignedSymbol;
    margin-right: 20px;
}